/*******************************************
                GLOBAL STYLES
*******************************************/
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/*******************************************
ROOT ELEMENT OF THE DOCUMENT (HTML ELEMENT)
*********** CSS VARIABLES ***************** 
*******************************************/
:root {
  /* COLORS */
  --header-color1: #31708e;
  --header-color2: #8fc1e3;
  --footer-color1: #8fc1e3;
  --footer-color2: #31708e;
  --main-font-color: rgb(2, 2, 2);
  --border-color1: #8fc1e3;
  --border-color2: #31708e;
  --body-color: #31708e;
  --main-nav: #5085a5;
  /* FONTS */
  --font1: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font2: "Arial";
}
body {
  background-color: var(--body-color);
  margin: 0;
}
#wrapper {
  min-width: 300px;
}
/*******************************************
              HEADER  
*******************************************/
#page-header {
  height: 100px;
  background: linear-gradient(var(--header-color1), var(--header-color2));
  display: flex;
  align-items: center;
  color: #f7f9fb;
  display: flex;
  justify-content: flex-start;
}
#logo {
  height: 50px;
  width: 200px;
  padding-left: 10px;
}
/*******************************************
                NAV
*******************************************/
#main-nav {
  display: flex;
  background-color: var(--main-nav);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  justify-content: space-between;
}
#nav-left {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Hide burger menu icon (first li in nav-left ul)
Element:first-child is a sudo selector  */
#nav-left ul li:first-child {
  display: none;
}
#nav-left > ul {
  display: flex;
  justify-content: space-around;
  width: 90%;
  /* margin: 0; */
}
#nav-left li {
  list-style-type: none;
}
#back-forward-btns {
  display: flex;
  justify-content: space-around;
  width: 10%;
}

#main-nav a {
  display: block;
  padding: 5px 7px;
  text-decoration: none;
  font-family: var(--font1);
  /* Text-shadow example */
  text-shadow: 1px 1px 2px #f2f3f4;
  line-height: 50px;
  font-size: 30px;
  transition: all 0.15s;
}
#main-nav a:hover {
  color: #f7f9fb;
  /* background-color: var(--header-color1); */
}

#nav-right li {
  padding: 15px;
  list-style-type: none;
}
#nav-right {
  position: relative;
}
#nav-right table,
#nav-right td {
  /* border: 2px solid white; */
  border-collapse: collapse;
  font-family: var(--font2);
  color: white;
}
#nav-right td {
  line-height: 40px;
}
#preference-panel {
  position: absolute;
  /* height: 200px;*/
  width: 300px;
  background-color: var(--main-nav);
  right: 0;
  padding: 10px;
  display: none;
}

/*******************************************
                MAIN CONTENT
*******************************************/
/* #wrapper {
  width: 90%;
  margin: 0 auto;
} */
#main-content {
  width: 90%;
  margin: 0 auto;
  color: var(--main-font-color);
  font-family: var(--font1);
}
.main-section {
  /* Border example */
  border: 2px solid var(--border-color1);
  /* border radius example */
  border-radius: 5px;
  height: 400px;
  padding: 20px;
  margin: 20px;
  /* Box shadow example */
  box-shadow: 10px 5px 5px #31708e;
}
main section {
  background-color: var(--border-color2);
}
/*******************************************
          VIDEO SECTION
*******************************************/
#video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 90vh;
}
#youtube-embed {
  width: 80%;
  height: 1000px;
  border-radius: 50px;
}
/*******************************************
          CONTACT FORM SECTION
*******************************************/
#form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 35vh;
}
#contact-form {
  height: 85%;
  width: 85%;
  padding: 10px;
  border: 2px solid #31708e;
  border-radius: 10px;
  background-color: #8fc1e3;
}
#contact-form table td {
  padding: 8px;
}
#contact-form table {
  margin-bottom: 25px;
}
#form-btns {
  display: flex;
  justify-content: space-between;
}
.contact-btns {
  width: 40%;
  height: 25px;
  box-shadow: 1px 1px 1px grey;
}
#submit-btn {
  background-color: green;
  color: #f7f9fb;
}
#reset-btn {
  background-color: red;
  color: #f7f9fb;
}
/* input[type="text"] {
  border: none;
  border-bottom: 2px solid red;
} */
/*******************************************
          LOCATION SECTION
*******************************************/
#location-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/*******************************************
                FOOTER
*******************************************/
#page-footer {
  height: 100px;
  background: linear-gradient(var(--footer-color1), var(--footer-color2));
}
/*******************************************
                MEDIA QUERIES
*******************************************/
/* CSS to be applied for a screen width up to 768px*/
@media screen and (max-width: 768px) {
  /* #wrapper {
    width: 100%;
  } */
  #main-content {
    width: 98%;
  }

  #back-forward-btns {
    display: none;
  }
} /*end of 788px media query*/
/* CSS to be applied for a screen width up to 300px*/
@media screen and (max-width: 450px) {
  #main-content {
    width: 100%;
  }
  /* Display burger menu */
  #nav-left ul li:first-child {
    display: block;
  }
} /*end of 300px media query*/
