/*******************************************
                GLOBAL STYLES
*******************************************/
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
/*******************************************
ROOT ELEMENT OF THE DOCUMENT (HTML ELEMENT)
*********** CSS VARIABLES ***************** 
*******************************************/
:root {
  /* COLORS */
  --header-color1: #31708e;
  --header-color2: #8fc1e3;
  --footer-color1: #8fc1e3;
  --footer-color2: #31708e;
  --main-font-color: rgb(2, 2, 2);
  --border-color1: #8fc1e3;
  --border-color2: #31708e;
  --body-color: #31708e;
  --main-nav: #5085a5;
  /* FONTS */
  --font1: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  --font2: "Arial";
}
body {
  background-color: var(--body-color);
  margin: 0;
}
#wrapper {
  min-width: 300px;
}
/*******************************************
              HEADER  
*******************************************/
#page-header {
  height: 100px;
  background: linear-gradient(var(--header-color1), var(--header-color2));
  display: flex;
  align-items: center;
  color: #f7f9fb;
  text-shadow: 1px 1px 1px black;
  display: flex;
  justify-content: flex-start;
}
#page-header h1 {
  padding-left: 10px;
}
#logo {
  height: 50px;
  width: 200px;
  padding-left: 10px;
}
/*******************************************
                NAV
*******************************************/
#main-nav {
  display: flex;
  background-color: var(--main-nav);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  justify-content: space-between;
  z-index: 999;
}
#nav-left {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Hide burger menu icon (first li in nav-left ul)
Element:first-child is a sudo selector  */
#nav-left ul li:first-child {
  display: none;
}
#nav-left > ul {
  display: flex;
  justify-content: space-around;
  width: 80%;
  /* margin: 0; */
}
#nav-left li {
  list-style-type: none;
}
#back-forward-btns {
  display: flex;
  justify-content: space-around;
  width: 10%;
}

#main-nav a {
  display: block;
  padding: 5px 7px;
  text-decoration: none;
  font-family: var(--font1);
  /* Text-shadow example */
  text-shadow: 1px 1px 2px #f2f3f4;
  line-height: 50px;
  font-size: 20px;
  transition: all 0.15s;
}
#main-nav a:hover {
  color: #f7f9fb;
  /* background-color: var(--header-color1); */
}

#nav-right li {
  padding: 15px;
  list-style-type: none;
}
#nav-right {
  position: relative;
}
#nav-right table,
#nav-right td {
  /* border: 2px solid white; */
  border-collapse: collapse;
  font-family: var(--font2);
  color: white;
}
#nav-right td {
  line-height: 40px;
}
#preference-panel {
  position: absolute;
  /* height: 200px;*/
  width: 300px;
  background-color: var(--main-nav);
  right: 0;
  padding: 10px;
  display: none;
}

/*******************************************
                MAIN CONTENT
*******************************************/
/* #wrapper {
  width: 90%;
  margin: 0 auto;
} */
#main-content {
  width: 90%;
  margin: 0 auto;
  color: var(--main-font-color);
  font-family: var(--font1);
}
.main-section {
  /* Border example */
  border: 2px solid var(--border-color1);
  /* border radius example */
  border-radius: 5px;
  /* height: 400px; */
  padding: 20px;
  margin: 20px;
  /* Box shadow example */
  box-shadow: 10px 5px 5px #31708e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
main section {
  background-color: var(--border-color2);
}
/*******************************************
                PREF PANEL SECTION
*******************************************/
.general-btns {
  height: 25px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  box-shadow: 1px 1px 1px rgb(250, 250, 249);
  transition: all 0.2s;
}
.animation-btns {
  margin-bottom: 0;
}
.general-btns:hover {
  transform: scale(1.05);
  color: #f7f9fb;
}
/*******************************************
                BUTTONS 
*******************************************/
#reset-username-btn {
  width: 97%;
  background-color: rgba(255, 255, 0, 0.514);
}
#reset-username-btn:hover {
  background-color: rgba(233, 233, 17, 0.514);
}
#prefs-reset-defaults-btn {
  background-color: rgba(99, 135, 182, 0.514);
  width: 49%;
}
#prefs-reset-defaults-btn:hover {
  background-color: rgba(126, 150, 180, 0.514);
}
#prefs-cancel-btn,
#animation-pause-btn {
  background-color: rgba(214, 205, 75, 0.899);
  width: 24%;
}
#prefs-cancel-btn:hover,
#animation-pause-btn:hover {
  background-color: rgba(247, 231, 9, 0.899);
}
#prefs-save-btn,
#animation-start-btn {
  background-color: rgba(105, 165, 109, 0.899);
  width: 24%;
}
#prefs-save-btn:hover,
#animation-start-btn:hover {
  background-color: rgba(51, 160, 58, 0.899);
}

/*******************************************
                USERNAME SECTION
*******************************************/
#username-section {
  text-align: center;
  border-radius: 50px;
}
/*******************************************
          ANIMATION SECTION
*******************************************/
#animation-area {
  width: 99%;
  margin: 0 auto;
  background-color: #f7f9fb;
  height: 200px;
  border: 2px solid #31708e;
  position: relative;
}
#animation-target {
  height: 20px;
  width: 20px;
  background-color: #8fc1e3;
  position: absolute;
  /* animation: animation1 2s infinite; */
  animation-name: animation1;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
#animation-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #31708e;
  border-radius: 50px;
  width: 99%;
  height: 50px;
  background-color: #8fc1e3;
}

/*******************************************
          ANIMATION KEYFRAMES
*******************************************/
@keyframes animation1 {
  0% {
    left: 0%;
  }
  50% {
    left: 97%;
  }
  100% {
    left: 0%;
  }
}
/*******************************************
          VIDEO SECTION
*******************************************/
#video-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#youtube-embed,
#hosted-vid {
  width: 100%;
  height: 100%;
  border-radius: 50px;
}
#youtube-video-container,
#hosted-video-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 500px;
}
/*******************************************
          CONTACT FORM SECTION
*******************************************/
#form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#form-section input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"] {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #31708e;
}
#contact-form {
  height: 90%;
  width: 85%;
  padding: 10px;
  border: 2px solid #31708e;
  border-radius: 10px;
  background-color: #8fc1e3;
}
#contact-form table td {
  padding: 8px;
}
#contact-form table {
  margin-bottom: 10px;
}
#form-btns {
  display: flex;
  justify-content: space-between;
}
.contact-btns {
  width: 40%;
  height: 25px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px grey;
}
#submit-btn {
  background-color: green;
  color: #f7f9fb;
}
#reset-btn {
  background-color: red;
  color: #f7f9fb;
}

/*******************************************
          LOCATION SECTION
*******************************************/
#location-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
/*******************************************
                FOOTER
*******************************************/
#page-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background: linear-gradient(var(--footer-color1), var(--footer-color2));
  color: #f7f9fb;
  text-shadow: 1px 1px 1px black;
}
/*******************************************
                MEDIA QUERIES
*******************************************/
/* CSS to be applied for a screen width up to 768px*/
@media screen and (max-width: 768px) {
  /* #wrapper {
    width: 100%;
  } */
  #main-content {
    width: 98%;
  }
  #nav-left ul li:first-child {
    display: block;
  }

  #back-forward-btns {
    display: none;
  }
} /*end of 788px media query*/
/* CSS to be applied for a screen width up to 300px*/
@media screen and (max-width: 450px) {
  #main-content {
    width: 100%;
  }
  /* Display burger menu */
  #nav-left ul li:first-child {
    display: block;
  }
} /*end of 300px media query*/
